# Environments
.env
.env.local
.env.*.local
frontend/.env.dev
frontend/.env.prod
frontend/android/key.properties
frontend/android/app/key.properties

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Node/Build
node_modules/
dist/
build/
